.Navbar {
    width: 100%;
    display: flex;
}

.NavItem {
    flex: 1 0 auto;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 0.5rem;
    font-weight: 300;
    color: rgb(5, 24, 56);
}


.NavItem:hover {
    border-bottom: solid 8px rgb(133, 133, 133);
    opacity: 0.75;
}

@media (max-width: 499px) {

    .Navbar {
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
    }

    .NavItem {
        font-size: 15px;
    }

    .NavItem:hover {
        opacity: 1;
        border-bottom: none;
    }
}

@media (min-width: 500px) and (max-width: 1020px) {
    .Navbar {
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
    }

    .NavItem {
        font-size: 23px;
    }

    .NavItem:hover {
        opacity: 1;
        border-bottom: none;
    }
}