.Navbar {
    width: 100%;
    display: flex;
}

.NavItem {
    flex: 1 0 auto;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 0.5rem;
    font-weight: 300;
    color: rgb(5, 24, 56);
}

.Active {
    border-bottom: solid 8px rgb(133, 133, 133) !important;
    font-weight: bold;
    opacity: 1 !important;
}

.NavItem:hover {
    border-bottom: solid 8px rgb(133, 133, 133);
    opacity: 0.75;
}