.Review {
    padding: 50px;
    text-align: center;
}

.Each {
    background-color: rgb(255, 232, 200);;
    border: 1px solid rgb(5,24,56);
    color: rgb(5,24,56);
    border-radius: 3px;
    margin: 0 100px;
    position: relative;
}

.Quote {
    font-size: 1.4rem;
    line-height: 50px;
    padding: 10px 150px;
    font-weight: bolder;
}

.Review h1 {
    margin-bottom: 60px;
    font-size: 2.6rem;
}