.leftArrow {
    position: absolute;
    top: 45%;
    left: 1%;
}
.rightArrow {
    position: absolute;
    top: 45%;
    right: 1%;
}

.leftArrow:hover, .rightArrow:hover {
    opacity: 0.75;
    cursor: pointer;
}

@media (max-width: 499px) {
   .leftArrow:hover, .rightArrow:hover {
        opacity: 1;
    }
}
@media (min-width: 500px) and (max-width: 799px) {}

/**
 * @media (max-width: 499px) {}
 * @media (min-width: 500px) and (max-width: 799px) {}

 */