.Paragraph {
    text-align: center;
    padding: 50px;
    color: rgb(5, 24, 56);
}

.Paragraph h1 {
    font-size: 2.6rem;
    font-style: bold;
    letter-spacing: 2px;
    margin: 5px;
}

.Paragraph p {
    font-size: 1.35rem;
    padding: 30px 200px;
    line-height: 50px;
}

.LinksDiv {
    margin: 30px;
}
  
.LinksDiv a {
    padding: 20px;
    color: rgb(5, 24, 56);
    text-decoration: none;
    font-size: 1.4rem;
}
  
.LinksDiv a:hover {
    opacity: 0.75;
}

.Table table{
    margin: 0 auto 100px auto;
}

.Table td {
    padding: 10px 30px;
    font-size: 1.1rem;
}