.Paragraph {
    text-align: center;
    padding: 50px;
    color: rgb(5, 24, 56);
}

.Paragraph h1 {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 5px;
}

.Paragraph p {
    font-size: 1.35rem;
    padding: 30px 200px;
    line-height: 50px;
    font-weight: 300;
}

.LinksDiv {
    margin: 30px;
}
  
.LinksDiv a {
    padding: 20px;
    color: rgb(5, 24, 56);
    text-decoration: none;
    font-size: 1.4rem;
}
  
.LinksDiv a:hover {
    opacity: 0.75;
}

.Table table{
    margin: 0 auto 100px auto;
}

.Table td {
    padding: 10px 30px;
    font-size: 1.1rem;
}

@media (max-width: 499px) {
    .Paragraph {
        padding: 20px;
    }
    
    .Paragraph h1 {
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .Paragraph p {
        font-size: 1.1rem;
        padding: 10px 5px;
        line-height: 25px;
    }
    
    .LinksDiv {
        margin: 15px;
    }
      
    .LinksDiv a {
        padding: 10px;
        font-size: 1.1rem;
        display: block;
    }
      
    .LinksDiv a:hover {
        opacity: 1;
    }
    
    .Table table{
        margin: 0 auto 40px auto;
    }
    
    .Table td {
        padding: 5px 15px;
        font-size: 0.7rem;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .Paragraph {
        padding: 40px;
        color: rgb(5, 24, 56);
    }
    
    .Paragraph h1 {
        font-size: 45px;
        letter-spacing: 1.6px;
        margin: 4px;
    }
    
    .Paragraph p {
        font-size: 1.4rem;
        padding: 20px 80px;
        line-height: 35px;
    }
    
    .LinksDiv {
        margin: 20px;
    }
      
    .LinksDiv a {
        padding: 15px;
        font-size: 1.4rem;
        display: block;
    }
      
    .LinksDiv a:hover {
        opacity: 1;
    }
    
    .Table table{
        margin: 0 auto 50px auto;
    }
    
    .Table td {
        padding: 8px 24px;
        font-size: 1rem;
    }
}
