.Gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Links {
    height: 30vh;
    margin: 20px;
    flex-grow: 0;
}

.Images {
    max-height: 100%;
    min-width: 100%;
    vertical-align: top;
}
.Images:hover {
    opacity: 0.75;
    cursor: pointer;
}

.LargeImage {
    width: 95%;
    margin: 0 auto;
}
