.Gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 650px;
    overflow: auto;
}

.Links {
    height: 30vh;
    margin: 20px;
    flex-grow: 0;
}

.Images {
    max-height: 100%;
    min-width: 100%;
    vertical-align: top;
}
.Images:hover {
    opacity: 0.75;
    cursor: pointer;
}

.LargeImage {
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
}

.Header {
    text-align: center;
    margin-bottom: 50px;
}

.Header h1 {
    font-size: 2.6rem;
}


@media (max-width: 499px) {
    .Gallery {
        height: 400px;
    }
    
    .Links {
        height: 20vh;
    }

    .Images:hover {
        opacity: 1;
    }
    
    .Header {
        margin-bottom: 30px;
    }
    
    .Header h1 {
        font-size: 1.3rem;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .Gallery {
        height: 525px;
    }
    
    .Links {
        height: 25vh;
    }
    .LargeImage {
        max-width: 90%;
        max-height: 90%;
    }
    .Images:hover {
        opacity: 1;
    }
    
    .Header {
        margin-bottom: 40px;
    }
    
    .Header h1 {
        font-size: 1.6rem;
    }
}
