.Tag {
    padding: 94px 60px 60px 60px;
}

.Tag hr {
    overflow: visible; 
    padding: 0;
    border: none;
    border-top: medium solid rgba(5, 24, 56, 0.6);
    text-align: center;
    width: 100%;
}



@media (max-width: 499px) {
    .Tag {
        padding: 54px 36px 36px 36px;
    }
}
@media (min-width: 500px) and (max-width: 799px) {
    .Tag {
        padding: 74px 40px 40px 40px;
    }
}
