.Exit {
    padding: 10px 15px;
    background-color: rgb(189, 75, 75);
    color: rgb(5,24,56);
    font-weight: bolder;
    font-size: 24px;
    border: none;
    box-shadow: 0 5px 10px rgba(139, 139, 139, 0.137);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.Exit:hover {
    opacity: 0.75;
}

.Exit:focus {
    outline: none;
}

@media (max-width: 499px) {
    .Exit {
        padding: 5px 10px;
        font-size: 12px;
    }
    
    .Exit:hover {
        opacity: 1;
    }
}

