.Social {
    position: fixed;
    top: 40%;
    right: 1px;
}

.Each{
    display: block;
}

.EachButton {
    cursor: pointer;
}
  
.EachButton:hover:not(:active) {
    opacity: 0.75;
}

.Airbnb {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(255, 133, 154);
    cursor: pointer;
}

.Airbnb:hover:not(:active) {
    opacity: 0.75;
}

@media (max-width: 499px) {

    .Airbnb {
        height: 32px;
        width: 32px;
    }
}



