.Each{
    display: block;
    position: fixed;
    right: 1%;
}

.EachButton {
    cursor: pointer;
}
  
.EachButton:hover:not(:active) {
    opacity: 0.75;
}
.Facebook {
    top: 40%;
}

.Twitter {
    top: 45%;
}

.Whatsapp {
    top: 50%;
}

.Airbnb {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: rgb(255, 133, 154);
    cursor: pointer;
    border-radius: 3px;
    top: 55%;
}

.Airbnb:hover:not(:active) {
    opacity: 0.75;
}

@media (max-width: 499px) {
    .Facebook {
        right: 0;
    }
    
    .Twitter {
        right: 0;
    }
    
    .Whatsapp {
        right: 0;
    }

    .Airbnb {
        right: 0;
    }
}



