.Each{
    display: block;
    position: fixed;
    right: 1%;
}

.EachButton {
    cursor: pointer;
}
  
.EachButton:hover:not(:active) {
    opacity: 0.75;
}
.Facebook {
    top: 32%;
}

.Twitter {
    top: 40%;
}

.Whatsapp {
    top: 48%;
}

.Airbnb {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(255, 133, 154);
    cursor: pointer;
    top: 56%;
}

.Airbnb:hover:not(:active) {
    opacity: 0.75;
}

@media (max-width: 499px) {
    .Facebook {
        right: 1px;
    }
    
    .Twitter {
        right: 1px;
    }
    
    .Whatsapp {
        right: 1px;
    }

    .Airbnb {
        right: 2px;
        width: 32px;
        height: 32px;
    }
}



