.Footer {
    text-align: center;
    padding: 0 10px 10px 10px;
}
  
.Links {
    margin: 30px;
}
  
.Links a {
    padding: 20px;
    color: rgb(5, 24, 56);
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;
}
  
.Links a:hover {
    opacity: 0.75;
}

.Copyright {
    margin-top: 80px;
}

.Copyright p {
    font-size: 0.7rem;
    font-style: lighter;
}
@media (max-width: 499px) {
    .Footer {
        padding: 0 5px 5px 5px;
    }
      
    .Links {
        margin: 0;
    }
      
    .Links a {
        padding: 10px;
        display: block;
        font-size: 0.9rem;
    }
      
    .Links a:hover {
        opacity: 1;
    }
    
    .Copyright {
        margin-top: 40px;
    }
    
    .Copyright p {
        font-size: 0.5rem;
        font-style: lighter;
    }
}
@media (min-width: 500px) and (max-width: 799px) {}
/**
 * @media (max-width: 499px) {}
 * @media (min-width: 500px) and (max-width: 799px) {}

 */