.Button {
    text-align: center;
    margin: 25px auto;
}

.Button button{
    height: 60px;
    width: 522px;
    padding: 10px;
    font-family: 'Antic Slab', serif;
    font-size: 1.4rem;
    font-style: lighter;
    background-color: rgb(5, 24, 56);
    color: white;
    border: none;
    border-radius: 3px;
}

.Button button:hover {
    background-color: white;
    color: rgb(5, 24, 56);
    border: 0.3px solid rgb(5, 24, 56);
    cursor: pointer;
}

.Button button:focus {
    outline: none;
}
@media (max-width: 499px) {
    .Button {
        text-align: center;
        margin: 15px auto;
    }
    
    .Button button{
        height: 30px;
        width: 180px;
        padding: 6px;
        font-size: 0.9rem;
    }
}
@media (min-width: 500px) and (max-width: 799px) {}
/*opacity: 0.75;
    cursor: pointer;*/

    /**
 * 

 */