.Button {
    text-align: center;
    margin: 25px auto;
}

.Button button{
    height: 60px;
    width: 522px;
    padding: 10px;
    font-family: 'Antic Slab', serif;
    font-size: 1.4rem;
    font-style: lighter;
    background-color: rgb(5, 24, 56);
    color: white;
    border: none;
    border-radius: 3px;
}

.Button button:hover {
    background-color: white;
    color: rgb(5, 24, 56);
    border: 0.3px solid rgb(5, 24, 56);
    cursor: pointer;
}

.Button button:focus {
    outline: none;
}

/*opacity: 0.75;
    cursor: pointer;*/