.Banner {
    height: 50vh;
    width: 100%;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    position: relative;
    font-family: 'Antic Slab', serif;
}


.Banner h1 {
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 4px;
}

.Banner p {
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 25px;
    opacity: 0.8;
    margin-bottom: 20px;
    padding: 20px 200px;
}

@media (max-width: 499px) {
    .Banner {
        width: 300px;
        height: 30vh;
        background-attachment: none;
        background-position: top;
        background-repeat: none;
    }

    .Banner h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .Banner p {
        font-size: 15px;
        opacity: 1;
        margin-bottom: 10px;
        padding: 10px 60px;
    }

}

@media (min-width: 500px) and (max-width: 799px) {
    .Banner {
        width: 500px;
        height: 40vh;
        background-attachment: none;
        background-position: top;
        background-repeat: none;
    }

    .Banner h1 {
        font-size: 55px;
        letter-spacing: 3px;
    }

    .Banner p {
        font-size: 25px;
        opacity: 1;
        margin-bottom: 10px;
        padding: 15px 100px;
    }
}