body {
  margin: 3% 10%;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.2px;
  background-color: rgb(255, 245, 235);
}

html {
  scroll-behavior: smooth; 
}

h1 {
  font-family: 'Charm', cursive;
  font-weight: 700 !important;
}


/*
font-family: 'Charm', cursive;
font-family: 'Oxygen', sans-serif;
color: rgb(5, 24, 56);
*/
