body {
  margin: 3% 10%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  background-color: rgb(255, 245, 235);
}

html {
  scroll-behavior: smooth; 
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Petit Formal Script', cursive;
color: rgb(5, 24, 56);
*/
