.right, .left {
    color: rgba(5, 24, 56, 0.438);
    margin: 10px;
}

.right:hover, .left:hover {
    opacity: 0.75;
    cursor: pointer;
}

.right {
    position: absolute;
    top: 45%;
    right: 0;
}
.left {
    position: absolute;
    top: 45%;
    left: 0;
}

@media (max-width: 499px) {
    .right:hover {
        opacity: 1;
    }
}

@media (min-width: 500px) and (max-width: 799px) {}




 