.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 60%;
    height: 80vh;
    border: 1px solid #ccc;
    padding: 16px;
    left: 20%;
    top: 10%;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
}


@media (max-width: 499px) {
    .Modal {
        padding: 5px;
        width: 325px;
        height: 50vh;
        border: 1px solid #ccc;
        left: 4%;
        top: 16%;
    }
}
@media (min-width: 500px) and (max-width: 799px) {

}
/**
 * @media (max-width: 499px) {}
 * @media (min-width: 500px) and (max-width: 799px) {}

 */