.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(5, 24, 56);
    text-align: center;
}

.Title {
    font-size: 2.6rem;
    font-style: 700;
    letter-spacing: 2px;
    margin: 5px;
}

.Addy {
    font-size: 1.1rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin: 10px;
}

@media (max-width: 499px) {
    .Form {
        padding: 10px;
    }
    
    .Title {
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin: 3px;
    }
    
    .Addy {
        font-size: 1.1rem;
        letter-spacing: 1px;
        margin: 6px;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .Form {
        padding: 15px;
    }
    
    .Title {
        font-size: 45px;
        letter-spacing: 1.3px;
        margin: 5px;
    }
    
    .Addy {
        font-size: 1.4rem;
        letter-spacing: 1px;
        margin: 10px;
    }
}

