.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(5, 24, 56);
}

.Title {
    font-size: 2.6rem;
    font-style: bold;
    letter-spacing: 2px;
    margin: 5px;
}

.Addy {
    font-size: 1.1rem;
    font-style: 100;
    letter-spacing: 1.5px;
    margin: 10px;
}

